
<section class="text-white HeroImage d-flex align-items-center">
        <div class="container-fluid  ">
          <div class="row">
      
            <article class="col-12  text-center  ">
              <h2>Quieres transporte cómodo y seguros</h2>
              <p>
                  Que esperas para comenzar a viajar y disfrutar 
              </p>
              <a href="#" class="btn btn-outline-danger btn-lg " routerLink="/registro">Registrate ya</a>
            </article>
          </div>
        </div>
</section>
