<footer class="footer-sitio  bg-danger text-light">
  <div class="container-fluid">
    <div class="row separador">
      
    </div>
    <div class="row  d-flex align-items-center ">
      
      <div class="col-12 col-md-4 d-flex justify-content-center ">
        <img src="../../../assets/logo.png" class="img-fluid  m-5" alt="">
      </div>
      <div class="col-12 col-md-4  d-flex flex-column  d-flex align-items-center">
        
        
               <i class="fas fa-map-marked-alt p-3">Bogota Candelaria</i> 
               
            
               <i class="fas fa-university   p-3 "> Unisalle</i>
               
            
               <img src="../../../assets/Logo_Universidad-de-La-Salle.png" class="img-fluid w-25 h-25 " alt="">
           

      
        
      </div>
      <div class="col-12 col-md-4 d-flex   justify-content-center">
        <ul>
          <p>Quienes somos</p>
          <li>mision</li>
          <li>vision</li>
          <li>FAQ</li>
        </ul>
        <ul>
          <p>ayuda/soporte</p>
          <li>mision</li>
          <li>vision</li>
          <li>FAQ</li>
        </ul>
       
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4  d-flex justify-content-center ">
        <p><i class="fas fa-copyright    ">2019</i></p>
      </div>
      <div class="col-4  d-flex justify-content-center">
        <p> privacicad y terminos </p>
      
      </div>
      <div class="col-4  d-flex justify-content-center">
        <i class="fab fa-facebook px-1 "></i>
        <i class="fab fa-twitter  px-1  "></i>
        <i class="fab fa-instagram   px-1 "></i>
      </div>
    </div>
  </div>

</footer>