.HeroImage {
    /* padding-top: var(--header-height);  */
    min-height: calc(80vh - 4rem);  
    /* background-color: rgb(108, 130, 145); */
    /* background-image: linear-gradient(135deg,rgba(47,145,224,.91),rgba(7,31,51,.97) 79%); */
    /* background-image:linear-gradient(131deg,rgba(28,118,173,.92), rgba(83, 184, 152, 1)); */
    /* background: rgba(0,161,235,1);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(2,54,77,1) 100%); */
    background: url("../../../assets/bogota-2163484_1920.jpg")  no-repeat center ;
    background-size: cover;
  }
  .bg-dark{
    background-color: rgba(0, 0, 0, 0.651) !important;
  }